@model DepartmentViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="card shadow-sm border-0 rounded-3">
    <div class="card-body">
        <form asp-action="@ViewBag.Action" method="post"> 

            <div asp-validation-summary="All" class="alert alert-danger d-none"></div>
             
            <div class="form-group mb-3">
                <label class="form-label fw-bold" asp-for="Code"></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-barcode"></i></span>
                    <input asp-for="Code" class="form-control" pl aceholder="Enter department code..." />
                </div>
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="form-label fw-bold" asp-for="Name"></label>
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-building"></i></span>
                    <input asp-for="Name" class="form-control" placeholder="Enter department name..." />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label class="form-label fw-bold" asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Enter department description..." rows="3"></textarea>
            </div>

            <div class="form-group mb-3">
                <label class="form-label fw-bold" asp-for="CreationDate"></label>
                <input asp-for="CreationDate" class="form-control" type="date" />
            </div>

            <div class="mt-3 d-flex justify-content-between">
                <a asp-action="Index" class="btn btn-secondary">
                    <i class="fas fa-arrow-left"></i> Back to List
                </a>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-check-circle"></i> Updata
                </button>
            </div>

        </form>
    </div>
</div>