@model UpdateEmplooyeeDTO
@{
    ViewData["Title"] = "Edit Employee";
    
}

<h1 class="mb-4 text-center">Edit Employee</h1>

<partial name="Partial/Create_Edit_EmployeePartial" />

@section ValidationScript {

    <partial name="_ValidationScriptsPartial" />
}